---
/** Decoración del panel de login. */
---

<div class="ds-brand-page__panel-backdrop" aria-hidden="true">
  <div class="ds-brand-page__panel-blob ds-brand-page__panel-blob--1"></div>
  <div class="ds-brand-page__panel-blob ds-brand-page__panel-blob--2"></div>
  <div class="ds-brand-page__panel-grid"></div>
</div>
