---
import regitecLogoSvg from '../../img/regitec_logo_animado.svg?raw';
---

<div class="ds-brand-hero-logo">
  <div class="ds-brand-hero-logo__content" set:html={regitecLogoSvg} aria-hidden="true"></div>
</div>
